<app-header></app-header>


<body>
<div class="container">
    
  <div class="statistics">
     <h3><mat-icon fontIcon="account_balance"></mat-icon></h3>
      <h2> apartment real vacancies</h2>
      <p>{{ statisticsData?.bpi.EUR.rate }} &euro;</p> 
  </div>
  
  <div class="statistics2">
      <h3><mat-icon fontIcon="clear"></mat-icon></h3>
      <h2>Total active terminations</h2>
      <p>{{ statisticsData?.bpi.GBP.rate }} &pound;</p> 
  </div>

  
  <div class="statistics3">
      <h3><mat-icon fontIcon="calendar_today"></mat-icon></h3>
      <h2>Total contracts awaiting signature</h2>
      <p>{{ statisticsData?.bpi.USD.rate }}  &#36;</p> 
  </div>
    
</div>
  
</body>

<div class="footer">

  <p>&copy; Heimstaden 2024</p>

</div>

    