@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

$colors: (#f0f0f0, #f0f0f1, #f0f0f2); 

@function getRandomColor() {
  @return nth($colors, random(length($colors)));
}

h3 {
  text-align: center;
  
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 48px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

.mat-icon {
  -webkit-user-select: none;
  user-select: none;
  background-repeat: no-repeat;
  fill: currentColor;
  height: 48px;
  width: 48px;
  overflow: hidden;
}

h2 {
  text-align: center;
  
  
}

p {
  padding-top: 70px;
  text-align: center;
  font-size: 2em;

}

.container {
  display: flex;
  height: 80%;  
}

.statistics {
  flex: 1 1 auto;
  padding: 20px;
  height: 800px;
  
  
}

.statistics2 {
  flex: 1 1 auto;
  padding: 20px;
  
}

.statistics3 {
  flex: 1 1 auto;
  padding: 20px;
  
}


body {
  background-color: getRandomColor(); // Setze  Hintergrundfarbe
  transition: background-color 0.1s ease; // Fügt Übergangseffekt hinzu
}
