<app-header></app-header>

<br>
<br>
<br>
<br>
<div class="container">
    <div class="statistics" style="background-color: #f0f0f0;">
      <h2>Statistik 1</h2>
      <p>{{ statisticsData?.bpi.EUR.rate }} €</p> 
    </div>
    <div class="statistics" style="background-color: #f0f0f0;">
      <h2>Statistik 2</h2>
      <p>{{ statisticsData?.bpi.GBP.rate }} Pfund</p> 
    </div>
    <div class="statistics" style="background-color: #f0f0f0;">
      <h2>Statistik 3</h2>
      <p>{{ statisticsData?.bpi.USD.rate }} $</p> 
    </div>
  </div>
  