/* You can add global styles to this file, and also import other style files */
$colors: (#fcf8f8, #fcf8f9, #fcf9f9); 

@function getRandomColor() {
  @return nth($colors, random(length($colors)));
}

area {

  border: 5px;
  border-radius: 1px;
  border-color: black;

}

h2 {
  text-align: center;
  font-size: 1em;
}

p {

  text-align: center;
  font-size: 1em;

}

.container {
  display: flex;
 
  
}

.statistics {
  flex: 1 1 auto;
  padding: 20px;
  border: 80px;
}

.statistics2 {
  flex: 1 1 auto;
  padding: 20px;
  
}

.statistics3 {
  flex: 1 1 auto;
  padding: 20px;

}

body {
  background-color: getRandomColor(); // Setze  Hintergrundfarbe
  transition: background-color 1s ease; // Fügt Übergangseffekt hinzu
}
