/* You can add global styles to this file, and also import other style files */
$colors: (#fcf8f8, #fcf8f9, #fcf9f9); 

@function getRandomColor() {
  @return nth($colors, random(length($colors)));
}

.container {
  display: flex;
  align-items: center;
}

.statistics {
  flex: 1;
  padding: 20px;
}

body {
  background-color: getRandomColor(); // Setze  Hintergrundfarbe
  transition: background-color 1s ease; // Fügt Übergangseffekt hinzu
}
