$colors: (#0022ff, #0031ff, #0400ff); 

@function getRandomColor() {
  @return nth($colors, random(length($colors)));
}

body {
  background-color: getRandomColor(); 
  transition: background-color 1s ease; 
}